<!DOCTYPE html>
<html>
<head>
  <title>KiteForum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/header' %>

<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="span10">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    <%= yield %>
    </div>
  </div>



</body>
</html>
